ul {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.card {
  padding: 20px;
  margin-top: 20px;
  background-color: #f0fbff;
}
.form-inline {
  display: flex;
  width: auto;
}
.btn {
  font-family: "Roboto Mono", monospace;
  margin-right: 33px;
  position: relative;
}

.btn:hoover {
  cursor: pointer;
}

.current-city {
  font-family: "Anek Malayalam", sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
  margin-top: 10px;
}
.current-weather {
  font-family: "Anek Malayalam", sans-serif;
  font-size: smaller;
  opacity: 85%;
}

.temperature {
  font-weight: bold;
  font-size: 45px;
  line-height: 1;
  margin-top: 10px;
}
.units {
  position: relative;
  font-size: 20px;
  margin-top: 10px;
}

.active {
  color: rgb(135, 135, 135);
  cursor: default;
}

#icon {
  float: left;
  height: 64px;
  width: 64px;
  margin-right: 6px;
}

#condition {
  color: rgb(135, 135, 135);
  font-size: 14px;
  margin-bottom: 0;
}

#weekdays {
  font-family: "Anek Malayalam", sans-serif;
  position: relative;
  margin-left: 10px;
}
#currentDate {
  font-family: "Roboto Mono", monospace;
  font-size: smaller;
  font-weight: bold;
  opacity: 80%;
  position: relative;
  margin-left: 10px;
}
